@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #ecefca;
  background-image: url("../imagenes/Huellas.jpeg");
  background-repeat: repeat;
  background-attachment: scroll;
  color: #333;
  text-align: center;
}

.contenido {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
  /* margin-left: 220px; */
}

h3 {
  background-color: #94B4C1;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  margin: 40px auto 0 auto;
  font-size: 32px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

h3:hover {
  transform: scale(1.05);
  background-color: #aec9d6;
}

.productos,
.servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 20px;
  margin-top: 30px;
}

.producto,
.servicio {
  width: 300px;
  background-color: #94B4C1;
  color: #213448;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.producto img,
.servicio img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.producto p,
.servicio p {
  margin: 0;
  padding: 10px;
  font-weight: bold;
}

.producto:hover,
.servicio:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.table-container {
  width: 95%;
  margin: 0 auto 2rem;
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

.table-container th,
.table-container td {
  padding: 15px;
  text-align: left;
}

.table-container th {
  background-color: #547792;
  color: white;
}

.table-container td {
  color: #213448;
  font-size: 16px;
}

.table-container tr:nth-child(even) {
  background-color: #94B4C1;
}

.table-container tr:hover {
  background-color: #ecefca;
  transition: background-color 0.3s;
}

.footer {
  background-color: #547792;
  padding: 20px 30px;
  color: #f4f4fd;
  text-align: left;
  margin-top: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.footer-copy {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .footer-copy {
    margin-top: 0.5rem;
  }
  .contenido {
    margin-left: 0;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .footer-title {
    font-size: 1.25rem;
  }
  .footer-copy {
    font-size: 0.75rem;
  }
  .productos,
  .servicios {
    grid-template-columns: 1fr;
  }
  .contenido {
    margin-left: 0;
    padding: 5px;
  }
}
